# EPA.Digital

Answer the following questions:

* Internal
    - Summarize the Sponsorship & create SubSponsorship (ex: “diamante fijo” cat:“diamante” subCat: “fijo”) without deleting the Sponsorship
    - Top best/worst sponsorship performace & why?
    - Which brand should downgrade/upgrade account according to the cost?

    * Medium
        - Which menu performs better and why?

* External
    - A brand wants to see their data and performance in a dashboard (products & dimensions)

In [1]:
import pandas as pd

In [2]:
sponsorship = pd.read_csv('epa_data_analyst_sponsorship.csv')
data = pd.read_csv('epa_data_analyst_raw.csv')

### Summarize the Sponsorship & create SubSponsorship

In [3]:
sponsorship_splited = [w.split() for w in sponsorship['sponsorship']]

In [4]:
sponsorship['cat'] = [e[0] for e in sponsorship_splited]

In [5]:
sponsorship['sub_cat']=[e[1] if len(e)>1 else 0 for e in sponsorship_splited]

In [6]:
sponsorship

,sponsorship,cost,cat,sub_cat
0,Paquetes,"$27,900",Paquetes,0
1,Cintillos/Banners Principales,"$1,500,000",Cintillos/Banners,Principales
2,Diamante Fijo,"$500,000",Diamante,Fijo
3,Diamante Cintillo,"$430,000",Diamante,Cintillo
4,Diamante Logo,"$390,000",Diamante,Logo
5,Platino Cintillo,"$250,000",Platino,Cintillo
6,Platino Fijo,"$235,000",Platino,Fijo
7,Platino,"$180,000",Platino,0
8,Oro Cintillo,"$135,000",Oro,Cintillo
9,Oro Fijo,"$120,000",Oro,Fijo
10,Oro,"$85,000",Oro,0
11,Luxury,"$62,000",Luxury,0
12,Plata Cintillo,"$88,000",Plata,Cintillo
13,Plata Fijo,"$65,000",Plata,Fijo
14,Plata,"$42,000",Plata,0
15,Bronce Top,"$55,000",Bronce,Top
16,Bronce Fijo,"$35,000",Bronce,Fijo
17,Bronce Cintillo Standar,"$32,000",Bronce,Cintillo
18,Bronce,"$26,500",Bronce,0
19,Productos Hot Destacado Home,"$35,000",Productos,Hot
20,Productos Hot Destacado Categoria TOP,"$12,000",Productos,Hot
21,Productos Hot Destacado Categoria Standar,"$9,500",Productos,Hot
22,Categorias TOP,"$19,000",Categorias,TOP
23,Categorias Estandar,"$15,000",Categorias,Estandar
24,Mega Ofertas TOP Platino,"$280,000",Mega,Ofertas
25,Mega Ofertas TOP Oro,"$150,000",Mega,Ofertas
26,Mega Ofertas TOP Plata,"$120,000",Mega,Ofertas
27,Mega Ofertas TOP Bronce,"$100,000",Mega,Ofertas
28,Mega Ofertas,"$90,000",Mega,Ofertas
29,Cintillo Flash,"$25,000",Cintillo,Flash

In [7]:
#convert start_date to DateTime format
data['date'] = pd.to_datetime(
    data['date'],
)

### Quick exploration (data-raw)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86409 entries, 0 to 86408
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          86409 non-null  datetime64[ns]
 1   section       86409 non-null  object
 2   brand         86362 non-null  object
 3   Category1     19397 non-null  object
 4   sponsorship   86409 non-null  object
 5   creativeType  86409 non-null  object
 6   impressions   86409 non-null  int64
 7   conversion    86409 non-null  int64
 8   menu          86409 non-null  object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 5.9+ MB

In [10]:
data.head(3)

,date,section,brand,Category1,sponsorship,creativeType,impressions,conversion,menu
0,2021-05-23,alimentos y bebidas,beerhouse,alimentos y bebidas,Oro,product,374,0,categoria
1,2021-05-23,alimentos y bebidas,bodegas alianza,alimentos y bebidas,Diamante Logo,product,831,0,categoria
2,2021-05-23,alimentos y bebidas,didi food,alimentos y bebidas,Bronce,product,399,17,categoria

In [11]:

print(data['brand'].nunique(), '\n')
data['brand'].value_counts()

644

zenvia           799
skydropx         799
tienda nube      795
mercado shops    793
citibanamex      781
                ...
refacciones        8
walker             8
oxxo               8
cinuk              7
kingsmarket24      1
Name: brand, Length: 644, dtype: int64

In [12]:
print(data['Category1'].nunique(), '\n')
data['Category1'].value_counts()

14

ropa y calzado         3944
electro y tecno        3674
muebles y hogar        3557
otros                  1991
belleza                1561
viajes                 1462
deportes               1030
alimentos y bebidas     774
automotriz              578
luxury                  355
mascotas                276
paquetes                113
vuelos                   45
cuidado de la vista      37
Name: Category1, dtype: int64

In [13]:
print(data['section'].nunique(), '\n')
data['section'].value_counts()

24

indice                    18353
home                      17926
productos hot              8419
ropa y calzado             6526
muebles y hogar            5788
electro y tecno            5403
belleza                    3175
viajes                     2935
alimentos y bebidas        2322
mega ofertas               2200
deportes                   2090
ofertas hot                1763
automotriz                 1675
luxury                     1446
mascotas                   1158
ofertas flash              1148
b2b                         843
favoritos                   776
noticia                     716
servicios financieros       716
noticias                    681
registro                    206
tipsempresas                142
avante llantas y rines        2
Name: section, dtype: int64

In [14]:
print(data['sponsorship'].nunique(), '\n')
data['sponsorship'].value_counts()

26

Categorias TOP                               16229
otros                                        14820
Bronce                                       11307
Plata                                         8143
Categorias Estandar                           5529
Platino                                       4772
Oro                                           4585
Diamante Logo                                 4215
Paquetes                                      3080
Diamante Fijo                                 2016
Luxury                                        1904
Oro Fijo                                      1825
Plata Fijo                                    1804
Platino Fijo                                  1803
Cintillos/Banners Principales                 1213
Bronce Fijo                                   1152
Productos Hot Destacado Categoria Standar      399
Productos Hot Destacado Home                   342
Mega Ofertas                                   300
Cintillo Flash                                 203
Platino Cintillo                               156
Diamante Cintillo                              145
Plata Cintillo                                 144
Oro Cintillo                                   142
Bronce Cintillo Standar                        112
Productos Hot Destacado Categoria TOP           69
Name: sponsorship, dtype: int64

In [15]:
print(data['creativeType'].nunique(), '\n')
data['creativeType'].value_counts()

3

logo        65481
product     19851
cintillo     1077
Name: creativeType, dtype: int64

In [16]:
print(data['menu'].nunique(), '\n')
data['menu'].value_counts()

9

categoria        35618
indice           18353
home             17926
productos hot     8419
mega ofertas      2200
ofertas hot       1763
ofertas flash     1148
favoritos          776
registro           206
Name: menu, dtype: int64

In [17]:
data[data['conversion'] > 0]

,date,section,brand,Category1,sponsorship,creativeType,impressions,conversion,menu
2,2021-05-23,alimentos y bebidas,didi food,alimentos y bebidas,Bronce,product,399,17,categoria
5,2021-05-23,alimentos y bebidas,grill house,alimentos y bebidas,Plata,product,241,2,categoria
6,2021-05-23,alimentos y bebidas,johnnie walker,alimentos y bebidas,Paquetes,product,1012,27,categoria
7,2021-05-23,alimentos y bebidas,justo,alimentos y bebidas,Diamante Logo,product,746,10,categoria
8,2021-05-23,alimentos y bebidas,la castellana,alimentos y bebidas,Categorias Estandar,product,148,2,categoria
...,...,...,...,...,...,...,...,...,...
85517,2021-06-10,viajes,mexico destinos,NaN,Categorias TOP,logo,73,1,categoria
85518,2021-06-10,viajes,samsonite,NaN,Oro,logo,73,1,categoria
85519,2021-06-10,viajes,aeromexico,NaN,Platino Fijo,logo,73,1,categoria
85520,2021-06-10,viajes,despegar,NaN,Platino,logo,73,1,categoria
85521,2021-06-10,viajes,ya vas,NaN,Plata Fijo,cintillo,73,1,categoria

In [18]:
df = pd.DataFrame(data[['date','brand','creativeType','impressions', 'conversion']])

In [20]:
df.groupby(
    by='brand',
)

In [19]:
DataFrame.groupby(
    by=None, 
    axis=0, 
    level=None, 
    as_index=True, 
    sort=True, 
    group_keys=True, 
    squeeze=NoDefault.no_default, 
    observed=False,
    dropna=True)

NameError: name 'DataFrame' is not defined