In [3]:
import pandas as pd

In [6]:
sponsorship = pd.read_csv('epa_data_analyst_sponsorship.csv')
data = pd.read_csv('epa_data_analyst_raw.csv')

In [5]:
sponsorship

                                  sponsorship         cost
0                                    Paquetes     $27,900
1               Cintillos/Banners Principales  $1,500,000
2                               Diamante Fijo    $500,000
3                           Diamante Cintillo    $430,000
4                               Diamante Logo    $390,000
5                            Platino Cintillo    $250,000
6                                Platino Fijo    $235,000
7                                     Platino    $180,000
8                                Oro Cintillo    $135,000
9                                    Oro Fijo    $120,000
10                                        Oro     $85,000
11                                     Luxury     $62,000
12                             Plata Cintillo     $88,000
13                                 Plata Fijo     $65,000
14                                      Plata     $42,000
15                                 Bronce Top     $55,000
16                                Bronce Fijo     $35,000
17                    Bronce Cintillo Standar     $32,000
18                                     Bronce     $26,500
19               Productos Hot Destacado Home     $35,000
20      Productos Hot Destacado Categoria TOP     $12,000
21  Productos Hot Destacado Categoria Standar      $9,500
22                             Categorias TOP     $19,000
23                        Categorias Estandar     $15,000
24                   Mega Ofertas TOP Platino    $280,000
25                       Mega Ofertas TOP Oro    $150,000
26                     Mega Ofertas TOP Plata    $120,000
27                    Mega Ofertas TOP Bronce    $100,000
28                               Mega Ofertas     $90,000
29                             Cintillo Flash     $25,000

In [7]:
data

,date,section,brand,Category1,sponsorship,creativeType,impressions,conversion,menu
0,2021-05-23,alimentos y bebidas,beerhouse,alimentos y bebidas,Oro,product,374,0,categoria
1,2021-05-23,alimentos y bebidas,bodegas alianza,alimentos y bebidas,Diamante Logo,product,831,0,categoria
2,2021-05-23,alimentos y bebidas,didi food,alimentos y bebidas,Bronce,product,399,17,categoria
3,2021-05-23,alimentos y bebidas,el patron de los chiles,alimentos y bebidas,Bronce,product,153,0,categoria
4,2021-05-23,alimentos y bebidas,enfashop,alimentos y bebidas,Categorias Estandar,product,143,0,categoria
...,...,...,...,...,...,...,...,...,...
86404,2021-06-10,viajes,fedex,NaN,otros,logo,73,0,categoria
86405,2021-06-10,viajes,id4you,NaN,otros,logo,69,0,categoria
86406,2021-06-10,viajes,mercado pago,NaN,otros,logo,73,0,categoria
86407,2021-06-10,viajes,secretaria de economia,NaN,otros,logo,70,0,categoria
86408,2021-06-10,viajes,barcelo,NaN,Categorias TOP,cintillo,73,0,categoria