# EPA.Digital

Answer the following questions:

* Internal
    - Summarize the Sponsorship & create SubSponsorship (ex: “diamante fijo” cat:“diamante” subCat: “fijo”) without deleting the Sponsorship
    - Top best/worst sponsorship performace & why?
    - Which brand should downgrade/upgrade account according to the cost?

    * Medium
        - Which menu performs better and why?

* External
    - A brand wants to see their data and performance in a dashboard (products & dimensions)

In [ ]:
import pandas as pd

In [6]:
sponsorship = pd.read_csv('epa_data_analyst_sponsorship.csv')
data = pd.read_csv('epa_data_analyst_raw.csv')

In [5]:
sponsorship

                                  sponsorship         cost
0                                    Paquetes     $27,900
1               Cintillos/Banners Principales  $1,500,000
2                               Diamante Fijo    $500,000
3                           Diamante Cintillo    $430,000
4                               Diamante Logo    $390,000
5                            Platino Cintillo    $250,000
6                                Platino Fijo    $235,000
7                                     Platino    $180,000
8                                Oro Cintillo    $135,000
9                                    Oro Fijo    $120,000
10                                        Oro     $85,000
11                                     Luxury     $62,000
12                             Plata Cintillo     $88,000
13                                 Plata Fijo     $65,000
14                                      Plata     $42,000
15                                 Bronce Top     $55,000
16                                Bronce Fijo     $35,000
17                    Bronce Cintillo Standar     $32,000
18                                     Bronce     $26,500
19               Productos Hot Destacado Home     $35,000
20      Productos Hot Destacado Categoria TOP     $12,000
21  Productos Hot Destacado Categoria Standar      $9,500
22                             Categorias TOP     $19,000
23                        Categorias Estandar     $15,000
24                   Mega Ofertas TOP Platino    $280,000
25                       Mega Ofertas TOP Oro    $150,000
26                     Mega Ofertas TOP Plata    $120,000
27                    Mega Ofertas TOP Bronce    $100,000
28                               Mega Ofertas     $90,000
29                             Cintillo Flash     $25,000

In [7]:
data

,date,section,brand,Category1,sponsorship,creativeType,impressions,conversion,menu
0,2021-05-23,alimentos y bebidas,beerhouse,alimentos y bebidas,Oro,product,374,0,categoria
1,2021-05-23,alimentos y bebidas,bodegas alianza,alimentos y bebidas,Diamante Logo,product,831,0,categoria
2,2021-05-23,alimentos y bebidas,didi food,alimentos y bebidas,Bronce,product,399,17,categoria
3,2021-05-23,alimentos y bebidas,el patron de los chiles,alimentos y bebidas,Bronce,product,153,0,categoria
4,2021-05-23,alimentos y bebidas,enfashop,alimentos y bebidas,Categorias Estandar,product,143,0,categoria
...,...,...,...,...,...,...,...,...,...
86404,2021-06-10,viajes,fedex,NaN,otros,logo,73,0,categoria
86405,2021-06-10,viajes,id4you,NaN,otros,logo,69,0,categoria
86406,2021-06-10,viajes,mercado pago,NaN,otros,logo,73,0,categoria
86407,2021-06-10,viajes,secretaria de economia,NaN,otros,logo,70,0,categoria
86408,2021-06-10,viajes,barcelo,NaN,Categorias TOP,cintillo,73,0,categoria

In [27]:
#convert start_date to DateTime format
data['date'] = pd.to_datetime(
    data['date'],
    #format='%Y%m%d',
)

In [30]:
data['date'].describe()

/tmp/ipykernel_69675/2382045578.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data['date'].describe()

count                   86409
unique                     41
top       2021-05-24 00:00:00
freq                     3694
first     2021-05-01 00:00:00
last      2021-06-10 00:00:00
Name: date, dtype: object

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86409 entries, 0 to 86408
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          86409 non-null  datetime64[ns]
 1   section       86409 non-null  object
 2   brand         86362 non-null  object
 3   Category1     19397 non-null  object
 4   sponsorship   86409 non-null  object
 5   creativeType  86409 non-null  object
 6   impressions   86409 non-null  int64
 7   conversion    86409 non-null  int64
 8   menu          86409 non-null  object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 5.9+ MB

In [16]:
data['brand'].nunique()

644

In [15]:
data['brand'].value_counts()

zenvia           799
skydropx         799
tienda nube      795
mercado shops    793
citibanamex      781
                ...
refacciones        8
walker             8
oxxo               8
cinuk              7
kingsmarket24      1
Name: brand, Length: 644, dtype: int64

In [24]:
print(data['Category1'].nunique(), '\n')
data['Category1'].value_counts()

14

ropa y calzado         3944
electro y tecno        3674
muebles y hogar        3557
otros                  1991
belleza                1561
viajes                 1462
deportes               1030
alimentos y bebidas     774
automotriz              578
luxury                  355
mascotas                276
paquetes                113
vuelos                   45
cuidado de la vista      37
Name: Category1, dtype: int64

In [25]:
print(data['section'].nunique(), '\n')
data['section'].value_counts()

24

indice                    18353
home                      17926
productos hot              8419
ropa y calzado             6526
muebles y hogar            5788
electro y tecno            5403
belleza                    3175
viajes                     2935
alimentos y bebidas        2322
mega ofertas               2200
deportes                   2090
ofertas hot                1763
automotriz                 1675
luxury                     1446
mascotas                   1158
ofertas flash              1148
b2b                         843
favoritos                   776
noticia                     716
servicios financieros       716
noticias                    681
registro                    206
tipsempresas                142
avante llantas y rines        2
Name: section, dtype: int64

In [20]:
print(data['sponsorship'].nunique(), '\n')
data['sponsorship'].value_counts()

26

Categorias TOP                               16229
otros                                        14820
Bronce                                       11307
Plata                                         8143
Categorias Estandar                           5529
Platino                                       4772
Oro                                           4585
Diamante Logo                                 4215
Paquetes                                      3080
Diamante Fijo                                 2016
Luxury                                        1904
Oro Fijo                                      1825
Plata Fijo                                    1804
Platino Fijo                                  1803
Cintillos/Banners Principales                 1213
Bronce Fijo                                   1152
Productos Hot Destacado Categoria Standar      399
Productos Hot Destacado Home                   342
Mega Ofertas                                   300
Cintillo Flash                                 203
Platino Cintillo                               156
Diamante Cintillo                              145
Plata Cintillo                                 144
Oro Cintillo                                   142
Bronce Cintillo Standar                        112
Productos Hot Destacado Categoria TOP           69
Name: sponsorship, dtype: int64

In [21]:
print(data['creativeType'].nunique(), '\n')
data['creativeType'].value_counts()

3

logo        65481
product     19851
cintillo     1077
Name: creativeType, dtype: int64

In [22]:
print(data['menu'].nunique(), '\n')
data['menu'].value_counts()

9

categoria        35618
indice           18353
home             17926
productos hot     8419
mega ofertas      2200
ofertas hot       1763
ofertas flash     1148
favoritos          776
registro           206
Name: menu, dtype: int64

In [23]:
data[data['conversion'] > 0]

,date,section,brand,Category1,sponsorship,creativeType,impressions,conversion,menu
2,2021-05-23,alimentos y bebidas,didi food,alimentos y bebidas,Bronce,product,399,17,categoria
5,2021-05-23,alimentos y bebidas,grill house,alimentos y bebidas,Plata,product,241,2,categoria
6,2021-05-23,alimentos y bebidas,johnnie walker,alimentos y bebidas,Paquetes,product,1012,27,categoria
7,2021-05-23,alimentos y bebidas,justo,alimentos y bebidas,Diamante Logo,product,746,10,categoria
8,2021-05-23,alimentos y bebidas,la castellana,alimentos y bebidas,Categorias Estandar,product,148,2,categoria
...,...,...,...,...,...,...,...,...,...
85517,2021-06-10,viajes,mexico destinos,NaN,Categorias TOP,logo,73,1,categoria
85518,2021-06-10,viajes,samsonite,NaN,Oro,logo,73,1,categoria
85519,2021-06-10,viajes,aeromexico,NaN,Platino Fijo,logo,73,1,categoria
85520,2021-06-10,viajes,despegar,NaN,Platino,logo,73,1,categoria
85521,2021-06-10,viajes,ya vas,NaN,Plata Fijo,cintillo,73,1,categoria